llm:
  base_url: https://your-openai-api.fr/v1
  token: s3cr3t

models:
  - name: bge-m3
    type: embedding
  - name: bge-reranker-v2-m3
    type: rerank
  - name: gpt-oss-120b
    capabilities:
      - tool_calling
      - reasoning
      - streaming
  - name: mistral-small-3.2-24b
    capabilities:
      - tool_calling
      - multimodal
      - streaming
  - name: qwen-3.6-35b-instruct
    capabilities:
      - tool_calling
      - multimodal
      - reasoning
      - streaming
    extra_body:
      chat_template_kwargs:
        enable_thinking: true
  - name: gemma-4-31b
    capabilities:
      - tool_calling
      - multimodal
      - reasoning
      - streaming
    extra_body:
      chat_template_kwargs:
        enable_thinking: true
  - name: mistral-small-4-119b
    capabilities:
      - tool_calling
      - multimodal
      - reasoning
      - streaming
    extra_body:
      reasoning_effort: high
  - name: qwen-asr
    type: transcription
  - name: whisper
    type: transcription
  - name: piper-fr
    type: speech
    extra_body:
      voice: ""